<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Employee details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body style="background-color: rgba(32, 178, 170,0.5);">
    <h1>Update Employee details</h1>
    {% block content%}
    <form action="/updateEmployeeDetails/{{dataValue.id}}" method="POST" autocomplete="off" class="addForm">
        {% csrf_token %}
        <h3>Update Details</h3>
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" value="{{dataValue.First_name}}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" value="{{dataValue.Last_name}}">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" name="age" id="age" value="{{dataValue.Age}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" value="{{dataValue.Email}}">
        </div>
        <div class="form-group">
            <label for="department">Department</label>
            <select name="department" id="department">
                <option value="select">{{dataValue.Dept}}</option>
                {% for data in departData %}
                <option value="{{data.id}}">{{data.name}}</option><!--id-primary key department separate table-->
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="roles">Roles</label>
            <select name="roles" id="roles">
                <option value="select">{{dataValue.Roles}}</option>
                {% for datas in roleData %}
                <option value="{{datas.id}}">{{datas.name}}</option>
                {% endfor %}
            </select>           
        </div>
        <div class="form-group">
            <label for="salary">Salary</label>
            <input type="text" name="salary" id="salary" value="{{dataValue.Salary}}">
        </div>
        <div class="form-group">
            <label for="bonus">Bonus</label>
            <input type="text" name="bonus" id="bonus" value="{{dataValue.Bonus}}">
        </div>
        <div class="form-group">
            <label for="branch">Branch</label>
            <input type="text" name="branch" id="branch" value="{{dataValue.Branch}}">
        </div>
        <div class="form-group">
            <label for="hire_date">Hire_Date</label>
            <input type="date" name="hire_date" id="hire_date" value="{{dataValue.Hire_Date}}">
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" value="{{dataValue.Phone}}">
        </div>
        <div class="sumbit">
            <button type="submit">Submit</button>
        </div>
    </form>
    {% endblock %}
    
</body>
</html>